#navigationBar {
  display: flex;
  flex-direction: column;
  justify-self: right;
  padding: 1.5vh;
  height: 70vh;
  width: 17vw;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigationBarItem {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

div p {
  font-size: 14px;
  color: lightgray;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.navigationBarItem:hover {
  background-color: purple;
}

#center {
  display: flex;
  padding-right: 3vw;
}

.button{
  color: lightgray;
}